@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Palanquin:wght@400;700&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   left: 0;
}

:root {
   --bg: #2d2d2d;
   --bg-red: #fa002d;
   --primary-color: #fa002d;

   --text-color-1: #ffffff;
   --text-color-2: #000000;
   --text-color-3: #d3d3d3;
   --text-color-4: #fa002d;
}

body {
   background-color: #2d2d2d;
}

.container {
   max-width: 1140px;
   margin: auto;
}

.title h2 {
   font-family: 'Palanquin';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 65px;

   color: var(--text-color-3);

   text-align: center;
}

::-webkit-scrollbar {
   background-color: transparent;
   width: 5px;
}

::-webkit-scrollbar-thumb {
   background-color: #1f1f1f;
   border-radius: 5px;
}

/* =========== header =========== */

header {
   height: 70px;
   margin: auto;

   background-color: #1f1f1f;

   font-family: 'Palanquin', sans-serif;
   font-weight: 400;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .container img {
   width: 120px;
}

nav ul {
   display: flex;

   list-style: none;
}

nav ul li {
   padding: 0 20px;
}

.menu nav a {
   display: inline-block;

   padding: 20px 0;

   color: var(--text-color-1);
   border-bottom: 5px solid #1f1f1f;

   font-size: 14px;

   text-transform: uppercase;
   text-decoration: none;
}

.menu nav ul li a:hover {
   border-bottom: 5px solid var(--primary-color);
}

/* =========== banner =========== */

#banner {
   background-image: url('./assets/banner.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.opc-banner .container {
   display: flex;
   justify-content: space-between;

   align-items: center;
}

.opc-banner {
   background: linear-gradient(
      214.69deg,
      rgba(237, 0, 44, 0.7),
      rgba(108, 0, 42, 0.8)
   );
}

.banner--content-text-img {
   display: flex;
   justify-content: center;
   align-items: center;
}

.content--banner {
   display: flex;
   flex-direction: column;

   padding: 35px;

   color: var(--text-color-1);
}

.content--banner h1 {
   font-family: 'Palanquin', sans-serif;
   font-weight: 700;
   font-size: 48px;
   line-height: 100%;
}

.content--banner span {
   font-family: 'Arimo', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;

   margin-top: 30px;
   margin-bottom: 80px;
}

.content--banner .button a {
   font-family: 'Arimo', sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 100%;

   text-decoration: none;
   text-transform: uppercase;
   color: var(--text-color-2);

   border-radius: 5px;

   padding: 18px 45px;
   background: linear-gradient(223.76deg, #ffffff 36.89%, #555555 162.78%);
}

.content--banner .button a:hover {
   opacity: 0.75;
}

/* =========== services =========== */

#services .container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 13px;
}

.services--content {
   width: 339px;
   height: 371px;

   background: linear-gradient(198.18deg, #1f1f1f 9.55%, #000000 125.88%);

   box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.5);

   border-radius: 20px;

   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

   margin-top: 82px;
   margin-bottom: 59px;
}

.services--content img {
   margin-top: -80px;
}

.services--content span {
   font-family: 'Palanquin', sans-serif;
   font-weight: 400;
   font-size: 48px;
   line-height: 87px;

   color: var(--text-color-1);

   margin-top: -30px;
}

.services--content p {
   font-family: 'Arimo', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;

   color: var(--text-color-1);
}

/* =========== clients =========== */

.clients--content {
   text-align: center;
   margin-bottom: 50px;
}

.clients--content h2 {
   margin-bottom: 52px;
}

.clients--content img {
   width: 100;
}

/* =========== products =========== */

.content-products {
   display: flex;
   justify-content: center;
   align-items: center;
}

.content-products .content-producs-text h3 {
   font-family: 'Palanquin';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 100%;

   padding: 0 50px 0 0;

   margin-bottom: 30px;

   color: var(--text-color-1);
}

.content-products .content-producs-text span {
   color: var(--primary-color);
}

.content-products .content-producs-text p {
   font-family: 'Arimo';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 160%;

   color: var(--text-color-1);
}

/* =========== opportunite =========== */

#opportunite {
   background-color: var(--bg-red);
   overflow: hidden;
}

#opportunite .opportunite---bg-img {
   background-image: url('./assets/23943\ 1.png');
   background-size: cover;
   background-repeat: no-repeat;
}

.slide {
   display: flex;
   gap: 20px;

   padding: 56px 0;
}

.slide-area,
.vacancies {
   min-width: 339px;
   height: 367px;
}

.vacancies {
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: var(--text-color-1);
}

.vacancies h3 {
   font-family: 'Palanquin';
   font-weight: 700;
   font-size: 48px;
   line-height: 87px;
}

.vacancies span {
   font-family: 'Palanquin';

   font-weight: 400;
   font-size: 24px;
   line-height: 100%;
}

.slide-area {
   background: linear-gradient(198.18deg, #1f1f1f 9.55%, #000000 125.88%);
   box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.15);
   border-radius: 5px;

   color: var(--text-color-1);

   padding: 22px;
}

.slide-area h4 {
   font-family: 'Palanquin';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 100%;
}

.slide-area .tecs {
   font-family: 'Arimo';
   font-size: 14px;
   line-height: 16px;

   margin: 40px 0;
}

.slide-area .tecs span {
   padding: 12px 15px;
   border: 1px solid var(--primary-color);
   border-radius: 7px;
}

.slide-area .info {
   display: flex;
   flex-direction: column;

   margin-bottom: 60px;

   gap: 30px;
}

.slide-area .localization,
.slide-area .job {
   display: flex;
   align-items: center;

   font-family: 'Arimo';
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
}

.slide-area .info svg {
   margin-right: 16px;
}

.slide-area .details {
   display: flex;
   justify-content: center;
   align-items: center;
}

.slide-area .details a {
   font-family: 'Palanquin';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 24px;

   color: var(--text-color-1);
   text-decoration: none;
   margin-right: 20px;
}

/* =========== contact =========== */

.contact--content {
   text-align: center;
   margin-top: 79px;
}

.cards {
   display: flex;
   justify-content: center;
   gap: 125px;

   margin-top: 65px;
   margin-bottom: 100px;
}

.contact--card {
   text-align: center;
   width: 342px;
}

.title--card {
   width: 343px;
   height: 156px;
   background-color: #fa002d;
}

.body--card {
   display: flex;
   flex-direction: column;

   background: linear-gradient(198.18deg, #1f1f1f 9.55%, #000000 125.88%);
   box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.15);
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
}

.body--card .name {
   margin-top: 32px;
   margin-bottom: 32px;

   font-family: 'Palanquin';
   font-weight: 700;
   font-size: 24px;
   line-height: 100%;
   color: var(--text-color-1);
}

.body--card .area,
.body--card .e-mail {
   font-family: 'Palanquin';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 100%;

   margin-top: 10px;
   margin-bottom: 32px;

   color: var(--text-color-1);
}

/* =========== message =========== */

.content-message {
   display: flex;
   justify-content: space-around;
   gap: 48px;

   margin-top: 67px;
}

.form {
   flex: 1;
}

form {
   display: flex;
   flex-direction: column;
   gap: 18px;
}

form input {
   height: 60px;

   background: #0e0e0e;
   border-radius: 4.3px;
   border: none;
   outline: none;

   color: var(--text-color-1);
   padding-left: 23px;

   font-family: 'Palanquin';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;

   color: var(--text-color-1);
}

form textarea {
   height: 218px;

   background: #0e0e0e;
   border-radius: 4.3px;
   border: none;
   outline: none;
   resize: none;

   padding-left: 23px;
   padding-top: 23px;

   font-family: 'Palanquin';
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;

   color: var(--text-color-1);
}

::placeholder {
   color: var(--text-color-1);
}

input[type='submit'] {
   width: fit-content;
   background-color: #fa002d;
   padding: 18px 99px;

   font-family: 'Palanquin';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 100%;

   cursor: pointer;

   color: var(--text-color-1);
}

input[type='submit']:hover {
   opacity: 0.7;
}

.maps {
   flex: 1;
}
.maps img {
   width: 500px;
   height: 454px;
}

/* =========== footer =========== */

footer {
   display: flex;
   flex-direction: column;
   justify-content: center;

   background: #1f1f1f;
   border-radius: 30px 30px 0px 0px;

   margin-top: 175px;
}

.social--links,
.footer--logo {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 28px;
}

.footer--logo {
   margin-top: 61px;
}

.social--links {
   margin-top: 28px;
}

.create {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 47px;
   margin-bottom: 28px;

   font-family: 'Palanquin';
   font-weight: 400;
   font-size: 14px;
   line-height: 100%;

   color: var(--text-color-1);
}
/* ======= MEDIA ========== */

@media (min-width: 1040px) {
   .container {
      padding: 0 20px;
   }

   .clients--content img {
      width: 930px;
   }

   .maps img {
      width: 470px;
      height: 450px;
   }
}

@media (max-width: 1039px) and (min-width: 700px) {
   .container {
      padding: 0 20px;
   }
   .clients--content img {
      width: 700px;
   }

   .content-message {
      flex-direction: column;
   }

   .content--banner h1 {
      font-size: 40px;
   }

   .content--banner span {
      font-size: 16px;
   }

   .content--banner .button a {
      font-size: 14px;
      padding: 16px 40px;
   }

   #services .container {
      gap: 0;
   }

   .services--content {
      margin-right: 3px;
   }

   .services--content:nth-child(3) {
      margin-right: 0;
   }

   .services--content p {
      font-size: 14px;
   }

   .services--content span {
      font-size: 40px;
   }

   .content-products {
      margin-bottom: 50px;
   }

   .content-products .content-producs-text h3 {
      font-size: 33px;
   }

   .content-products .content-producs-text p {
      font-size: 16px;
   }

   .vacancies h3 {
      font-size: 42px;
      line-height: 80px;
   }

   .vacancies span {
      font-size: 18px;
   }

   input[type='submit'] {
      display: block;
      width: 100%;
   }

   .cards {
      gap: 50px;
   }

   .maps img {
      width: 100%;
      height: auto;
   }
}
